{% extends "base.html" %}

{% block content %}


  <div class="container">
    <h2>Add your Expense/Income</h2>
    <p></p>            
    
    <form action="/add_expense" method="POST">
    <table class="table table-bordered">
      
      <tbody>
        <tr>
          <td><label for="type">Type:</label></td>
          <td><input type="text" id="type" name="type"><br><br></td>
        </tr>
        <tr>
        <tr>
          <td><label for="amount">Amount:</label></td>
          <td><input type="number" id="amount" name="amount" required><br><br></td>
        </tr>
        <tr>
          <td><label for="category">Category:</label></td>
          <td><input type="text" id="category" name="category"><br><br></td>
        </tr>
          <td><label for="description">Description:</label></td>
          <td><textarea id="description" name="description"></textarea><br><br></td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit">
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
  </div>
{% endblock %}