{% extends "base.html" %}

{% block content %}

  
<div class="container">  
    <h1>Add Transaction</h1>
      <h3>{%- for message in get_flashed_messages() %}
        {{ message }}
     {%- endfor %}</h3>
      <form method="POST">
          {{ form.hidden_tag() }}
          <p>
              {{ form.type.label }}<br>
              {{ form.type }}
              {% for error in form.type.errors %}
                  <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.amount.label }}<br>
              {{ form.amount }}
              {% for error in form.amount.errors %}
                  <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.category.label }}<br>
              {{ form.category }}
              {% for error in form.category.errors %}
                  <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.date.label }}<br>
              {{ form.date }}
              {% for error in form.date.errors %}
                  <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.description.label }}<br>
              {{ form.description }}
              {% for error in form.description.errors %}
                  <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>{{ form.submit }}</p>
      </form>
      </div>
      
      {% endblock %}