{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>What is this tool and what does it include?</h2>
    <p></p>            
    
   
    <table class="table table">
      
      <tbody>
        <tr>
    
          <td><li>A dashboard to see your daily spending</a></li>
            
        </td>
         
        </tr>
        <tr>
    
            <td>
              <li>Add transactions so you know what you have bought</li>
          
          </td>
           
          </tr>
          <tr>
    
            <td>
              
              <li>Be able to look back at your spending</li>
        
          </td>
           
          </tr>
          <tr>
    
            <td>
              
              <li>Put your spending into Categories</li>
             
          </td>
           
          </tr>
          <tr>
    
            <td>
          
              <li>Run a report to see if you are on budget</li>
          </td>
           
          </tr>
        
        
      </tbody>
    </table>
  
  </div>
{% endblock %}