{% extends "base.html" %}

{% block content %}


<div class="container">
  <h2>Manage Categories</h2>
  <p></p>            
  <form>
    <table class="table table-bordered">
      
      <tbody>
        <tr>
          <td><label for="category-name">Category Name:</label></td>
          <td><input type="text" id="category-name" name="category-name"></td>
        </tr>
        <tr>
          <td><button type="submit">Add Category</button></td>
        </tr>
        
      </tbody>
    </table>
  </form>
  


  <h2>Existing Categories</h2>
  <p></p>            
  
  

<form>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Date</th>
          <th>Description</th>
      </tr>
  </thead>
    
    <tbody>
      {% for row in data %}
      <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</form>
</div>
{% endblock %}