{% extends "base.html" %}

{% block content %}


<div class="container">          
  <h1>Manage Categories</h1>

  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }}
      {{ form.name(size=32) }}
      {% if form.name.errors %}
          {% for error in form.name.errors %}
              <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      {% endif %}
      {{ form.submit() }}
  </form>

  <h2>Existing Categories</h2>
  {% if category %}
      <table>  {% for cat in category %}
              <tr>  <td>{{ cat.name }}</td>  </tr>  {% endfor %}
      </table>  {% else %}
      <p>No categories found.</p>
  {% endif %}
</div>
{% endblock %}