{% extends "base.html" %}

{% block content %}

<div class="container">
<h1>Transaction Reports</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.type }}
        {{ form.submit }}
    </form>
    <p></p>
    <p></p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="border: 1px solid black;">Type</th>
          <th style="border: 1px solid black;">Amount</th>
          <th style="border: 1px solid black;">Category</th>
          <th style="border: 1px solid black;">Date</th>
          <th style="border: 1px solid black;">Description</th>
          
        </tr>
      </thead>
      <tbody>
        {% for transactions in transactions %}
        <tr>
          <td style="border: 1px solid black;">{{ transactions.type }}</td>
          <td style="border: 1px solid black;">{{ transactions.amount }}</td>
          <td style="border: 1px solid black;">{{ transactions.category }}</td>
          <td style="border: 1px solid black;">{{ transactions.date }}</td>
          <td style="border: 1px solid black;">{{ transactions.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}