{% extends "base.html" %}

{% block content %}

<h1>reports</h1>
<canvas id="myChart" width="400" height="200"></canvas>

  <script>
    const ctx = document.getElementById('myChart').getContext('2d');

    const   
 labels = ['January', 'February', 'March', 'April', 'May'];
    const data = [12, 19, 3, 5, 2];

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'My First Dataset',
          data: data,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock %}