{% extends "base.html" %}

{% block content %}


<div class="container">
  <h2>Manage Transactions</h2>
  <p></p>            
  <form action="/sort" method="POST"></form>
    <table class="table table-bordered">
      
      <tbody>
        
        <tr>
          <td><td><input type="submit" value="Submit"></td>
        </tr>
        
      </tbody>
    </table>
  </form>
  


  <h2>Transactions</h2>
  <p></p>            
  
  

<form>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Date</th>
          <th>Description</th>
          <th>Actions</th>
      </tr>
  </thead>
    
    <tbody>
      {% for row in data %}
      <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>
            <a href="/edit/{{ row[0] }}">Edit</a> |
            <a href="/delete/{{ row[0] }}">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</form>
</div>
{% endblock %}